
.advert {
  margin-left: 10%;
  animation-name: moving-text;
  animation-duration: 4s;
}

@keyframes moving-text {
  from {margin-left: -30%;}
  to {margin-left: 10%;}
}

.city {
  max-width: 300px;
}

/* styling for Airport dynamic elements */
.airport{
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    list-style: none;

}

fieldset {
  border: 0;
}
label {
  display: block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}